# Ambientes virtuais e Caches
venv/
__pycache__/
*.pyc

# Arquivos de ambiente e senhas
.env

# Pastas de mídia e arquivos estáticos compilados
staticfiles/
media/

# Documentação de planejamento
Roadmap_status/

# Banco de dados local
db.sqlite3